{% extends 'base.html.twig' %}

{% block title %}{% if edit is defined %}Modifer une ville{% else %}Ajouter une ville{% endif %} - {{ parent() }}{% endblock %}

{% block body %}
<div class="wp">
    <div class="title">
        <h1>{% if edit is defined %}Modifer une ville{% else %}Ajouter une ville{% endif %}</h1>
    </div>
    {{ form_start(form, {'attr': {'class': 'form'}}) }}
        <div class="form-error">{{ form_errors(form) }}</div>
        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            {% if form.name.vars.valid == 0 %}
            <div class="form-error">
                {{ form_errors(form.name) }}
            </div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form_label(form.cp) }}
            {{ form_widget(form.cp) }}
            {% if form.cp.vars.valid == 0 %}
            <div class="form-error">
                {{ form_errors(form.cp) }}
            </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 form-group">
                {{ form_label(form.longitude) }}
                {{ form_widget(form.longitude) }}
                {% if form.longitude.vars.valid == 0 %}
                <div class="form-error">
                    {{ form_errors(form.longitude) }}
                </div>
                {% endif %}
            </div>
            <div class="col-6 col-sm-6 form-group">
                {{ form_label(form.latitude) }}
                {{ form_widget(form.latitude) }}
                {% if form.latitude.vars.valid == 0 %}
                <div class="form-error">
                    {{ form_errors(form.latitude) }}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
            {% if form.description.vars.valid == 0 %}
            <div class="form-error">
                {{ form_errors(form.description) }}
            </div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form_label(form.file) }}
            {{ form_widget(form.file) }}
            {% if form.file.vars.valid == 0 %}
            <div class="form-error">
                {{ form_errors(form.file) }}
            </div>
            {% endif %}
        </div>
        <div class="pt-20 text-center">
            <button type="submit" class="btn btn-primary btn-lg">Enregistrer{% if edit is defined %} les modifications{% else %}{% endif %}</button>
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}